.pillarCard {
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius-lg);
  padding: var(--space-8);
  text-align: center;
  box-shadow: var(--shadow);
  transition: var(--transition);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pillarCard:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
  border-color: var(--cardinal);
}

.pillarIcon {
  width: 64px;
  height: 64px;
  background-color: var(--cardinal);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-6);
  color: var(--white);
}

.pillarIcon svg {
  width: 32px;
  height: 32px;
}

.pillarTitle {
  font-family: var(--font-subheading);
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--cardinal);
  margin: 0 0 var(--space-4);
}

.pillarDescription {
  color: var(--gray-600);
  line-height: 1.6;
  margin: 0;
  flex-grow: 1;
}
